<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buzz_ht.bigbmi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_home"
        android:label="BMI Calculator"
        android:roundIcon="@mipmap/ic_home"
        android:supportsRtl="true"
        android:theme="@style/Theme.BigBMI">

        <activity android:name=".KnowMore"
            android:label="More about BMI"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ResultActivity"
            android:label="Result"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>